body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/tic-tac-toe/resources/vecteezy_wild-west-modern-minimal-flat-background_.jpg");
}

#grid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
}

.box {
    color: greenyellow;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-border {
    border-right: 0.2em solid indianred;
}

.bottom-border {
    border-bottom: 0.2em solid indianred;
}



h1{
    color: pink;
    text-align: center;
    font-family: 'Ewert', cursive;
    font-size: 65px;

}
